@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
}

body {
  background: #171717;
  color: #e5e5e5;
  overscroll-behavior: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}
